@font-face {
    font-family: "miama";
    src: url('../font/Miama.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}




/*   shared styles   */

body{
    font-family: "Inter", sans-serif;
}

.miama{
    font-family: "miama", sans-serif;
}

.text1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.text2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}

.btnfont{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

img{
    width: 100%;
}



main{
    background: rgb(0, 0, 0);
    padding: 0px 20px 90px;
}



/*   change section   */

.change{
    max-width: 1060px;
    padding-top: 100px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.change1{
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin: 0px auto;
}


.change>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.changepart{
    width: 230px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.change img{
    width: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.changetext{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}




/*   run section   */

.run{
    margin: 100px auto 0px;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 30px 30px 50px;
}

.runtext{
    width: 450px;
}

.runimg{
    display: none;
    width: 100%;
}

.runimg2{
    width: 370px;
}

.run img{
    border-radius: 18px;
}

.run p{
    margin: 16px 0px 35px;
}

.runtext button{
    padding: 16px 0px;
    border: none;
    width: 60%;
    border-radius: 42px;
    background: rgb(230, 83, 60);
}



/*   meet section   */

.meet{
    max-width: 1060px;
    margin: 90px auto 0px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
}

.meettext{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    width: 60%;
}

.meetcontainer{
    width: calc(100% - 40px);
    border-radius: 18px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(3,calc((100% - 40px) / 3));
    grid-template-rows: repeat(2,270px);
}

.trainercontainer1{
    background-image: url('../images/trainer1.png'); 
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}

.trainercontainer2{
    background-image: url('../images/trainer2.png'); 
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}

.trainercontainer3{
    background-image: url('../images/trainer3.png'); 
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}

.trainercontainer4{
    background-image: url('../images/trainer4.png'); 
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}

.trainercontainer5{
    background-image: url('../images/trainer5.png'); 
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}

.trainercontainer6{
    background-image: url('../images/trainer6.png'); 
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}

.designation{
    position: absolute;
    bottom: 16px;
    left: 20px;
}

.trainername{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
}









/*   footer section  */

footer{
    background: rgb(34, 34, 34);
    padding: 60px 20px 35px;
}

footer>div{
    max-width: 1060px;
    margin: 0px auto;
}

footer hr{
    margin: 80px 0px 35px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copy{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.footcontainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.part1{
    width: 440px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.logo{
    color: rgb(230, 83, 60);
    font-weight: 800;
    line-height: 120%;
    font-style: italic;
}

footer .logo{
    font-size: 70px;
}

.footheader{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.part2{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

footer a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
}






@media screen and (max-width:576px) {
    main{
        padding-bottom: 60px;
    }
    .text2{
        font-size: 32px;
        font-weight: 900;
    }
    .change{
        padding: 0px;
    }
    .change1{
        width: 90%;
    }
    .change>div{
        flex-direction: column;
        row-gap: 40px;
    }
    .run{
        padding: 30px;
        flex-direction: column;
        row-gap: 30px;
        margin-top: 65px;
    }
    .runtext{
        width: 100%;
    }
    .runtext h6{
        width: 250px;
    }
    .runtext p{
        margin-bottom: 24px;
    }
    .runimg2{
        display: none;
    }
    .runimg{
        display: inline-block;
    }
    .meet{
        margin-top: 65px;
        row-gap: 40px;
    }
    .meettext{
        width: 95%;
    }
    
    .meetcontainer{
        grid-template-columns: repeat(1,calc(100%));
        grid-template-rows: repeat(6,calc((100vw - 80px) * (270 / 315)));
    }
    
    .trainercontainer1{
        background-image: url('../images/trainer1.png'); 
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        border-radius: 18px;
        position: relative;
    }
    
    .trainercontainer2{
        background-image: url('../images/trainer2.png'); 
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        border-radius: 18px;
        position: relative;
    }
    
    .trainercontainer3{
        background-image: url('../images/trainer3.png'); 
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        border-radius: 18px;
        position: relative;
    }
    
    .trainercontainer4{
        background-image: url('../images/trainer4.png'); 
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        border-radius: 18px;
        position: relative;
    }
    
    .trainercontainer5{
        background-image: url('../images/trainer5.png'); 
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        border-radius: 18px;
        position: relative;
    }
    
    .trainercontainer6{
        background-image: url('../images/trainer6.png'); 
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        border-radius: 18px;
        position: relative;
    }
    
    .designation{
        position: absolute;
        bottom: 16px;
        left: 20px;
    }
    
    .trainername{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 900;
    }




    .footcontainer{
        flex-direction: column;
        row-gap: 30px;
    }
    footer{
        padding: 45px 20px 60px;
    }
    .copy{
        text-align: left;
    }
    footer hr{
        margin: 70px 0px 40px;
    }
    .part1{
        width: 90%;
    }

}